# Executáveis e instaladores pesados (> 100MB)
*.exe

# Visual Studio / .NET Build Artifacts
.vs/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user
*.userosscache
*.sln.docstates
*.suo
*.pdb
*.cache
*.vsidx
*.v2

# Arquivos temporários e backups
*.tmp
*.bak
*.~*
*.chc

# Arquivos de sistema operacional
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

